hml-0.3.3Modified.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                     -->
<!-- HML - Histo Immunogenetics Markup Language                          -->
<!-- Schema Version 0.3.3                                                -->
<!--                                                                     -->
<!-- COPYRIGHT (C) 1994, 1995, 1997, 2014 NATIONAL MARROW DONOR PROGRAM. -->
<!--                       ALL RIGHTS RESERVED                           -->
<!--                                                                     -->
<!-- This document defines the HML markup language XML Schema used for   -->
<!-- reporting primary typing data.                                      -->
<!--                                                                     -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.nmdp.org/spec/hml/0.3.3" xmlns:hml="http://schemas.nmdp.org/spec/hml/0.3.3" xmlns:hla="http://schemas.nmdp.org/common/1.0" targetNamespace="http://schemas.nmdp.org/spec/hml/0.3.3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.3.3">
	<xs:include schemaLocation="http://schemas.nmdp.org/common/1.0/hla-common.xsd" id="hlacommon"/>
	<!-- xs:include id="hlacommon" schemaLocation="http://devschemas.nmdp.org/common/1.0/hla-common.xsd" / -->
	<!-- xs:include id="hlacommon" schemaLocation="../../../../common/1.0/hla-common.xsd" / -->
	<xs:element name="hml" nillable="false" id="hml">
		<xs:annotation>
			<xs:documentation>
        'hml' is the root element of the document. Any document level
        properties may be set with child property elements. 
        Attributes:
         - version: The version of HML that this document should conform to. 
                    Backwards compatible with version 0.3 only.
      </xs:documentation>
		</xs:annotation>
		<xs:complexType id="hml-type">
			<xs:sequence>
				<xs:element ref="hml:property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="hml:project" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:annotation>
					<xs:documentation>
            Expected to be 0.3.3 to use this schema.
          </xs:documentation>
				</xs:annotation>
				<xs:simpleType id="version-type">
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
						<xs:pattern value="0\.3\.3"/>
						<!-- xs:pattern value="[0][.][3]([.][0-9]*)?" / -->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- PROJECT -->
	<!-- A "project" is a wrapper for a set of data -->
	<xs:element name="project" type="project-type">
		<xs:annotation>
			<xs:documentation>
      The 'project' element groups data into sections with a common
      destination or purpose, which is denoted by the "name" attribute. 
      Attributes: 
       - name: identifier for data's intent. (ex: "LAB", "STAR", "SG09")
    </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="project-type">
		<xs:sequence>
			<xs:element ref="hml:reporting-center"/>
			<xs:element ref="hml:sample" maxOccurs="unbounded"/>
			<xs:element ref="hml:typing-test-names" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="hml:name-type" use="required"/>
	</xs:complexType>
	<!-- SAMPLE -->
	<xs:element name="sample" nillable="false">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
        A "sample" element encloses the typing data pertaining to a particular 
        sample. It may contain multiple typing elements. One for each locus, for 
        instance. 
        Attributes: 
          - id: Identifier for the sample (123456789, 1234-5678-9, etc)
          - center-code: center code of the sample's origin (donor center, 
                         transplant center, etc.)
      </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="hml:property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="hml:typing" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="hml:sample-id-type" use="required"/>
			<xs:attribute name="center-code" type="hml:center-code-type" use="required"/>
		</xs:complexType>
	</xs:element>
	<!-- TYPING -->
	<xs:element name="typing" type="hml:typing-type" nillable="false">
		<xs:annotation>
			<xs:documentation>
      The typing element encapsulates a typing call (interpretation) combined 
      with other primary data that may have been used to determine that call 
      (sso, ssp, and/or sbt elements). 
      Contains: 
       1. At most one interpretation element 
       2. As many primary data elements as needed
    </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="typing-type">
		<xs:sequence>
			<xs:element name="interpretation" type="hml:interpretation-type" nillable="false" minOccurs="0"/>
			<xs:element ref="hml:sso" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hml:ssp" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hml:sbt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- INTERPRETATION -->
	<xs:complexType name="interpretation-type">
		<xs:annotation>
			<xs:documentation>
      The 'interpretation' element specifies the typing call at allele/code 
      level. Usually contains one or two haploid elements for a particular locus, 
      but may contain more if multiple loci are covered (example: two DRB1 
      haploids + one DRB3 haploid). 
      As an alternative, it may contain genotype list(s) to represent the 
      type(s).
      Attributes: 
       - date: Date on which the typing was carried out, or on which the final 
               call was determined. Format can be either ISO-8601 or "YYYYMMDD".
    </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="hml:haploid" maxOccurs="unbounded"/>
			<xs:element ref="hml:genotype-list" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="date" type="hml:nmdpDateType" use="required"/>
	</xs:complexType>
	<!-- SBT -->
	<xs:element name="sbt">
		<xs:annotation>
			<xs:documentation>
      Specifies the details of an SBT test that was done.
    </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="amplification-primer" type="hml:amplification-primer" nillable="false" minOccurs="0"/>
				<xs:element name="gssp" type="hml:gssp" nillable="false" minOccurs="0"/>
				<xs:element ref="hml:sequence"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
